{% extends "base.html" %}

{% block title %}Eliminar | Alke Wallet{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-bd-8">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="h5">Eliminar</h1>
                <p class="h4">¿Desea eliminar a <strong>{{ cliente.nombre }}</strong>?</p>

                <form method="post">
                    {% csrf_token %}

                    <button class="btn btn-danger">Confirmar eliminación</button>
                    <a href="{% url 'lista_clientes' %}" class="btn btn-outline-secondary">Cancelar</a>
                </form>

                
            </div>
        </div>
    </div>
</div>


{% endblock %}